* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  background-color: #FFEDD5;
  font-size: 1.6rem;

  font-family: 'Roboto Serif', serif;
  font-weight: bold;
}
p {

  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.6);
}
ul {
  list-style: none;
}

header {
  padding: 3.2rem 0;
  text-align: center;
}

header,
section {
  max-width: 30rem;
  margin: 0 auto;
}
header h1 {
  font-size: 2.8rem;
  color: #2D2C2A;
  font-weight: bold;
  text-transform: uppercase;

  margin-bottom: .4rem;
}

header h1 span {
  color: #995000;
}
header p {
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: rgba(0, 0, 0, 0.7);
}

section {
  margin-bottom: 2.4rem;
}

section h2 {
  font-size: 1.8rem;
  line-height: 2.1rem;

  background-color: #FED7AA;
  color: #2D2C2A;

  padding: .8rem 1.6rem;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 2.4rem;
}

ul li {
  margin-bottom: 1.6rem;
  display: flex;
}

li .details {
  max-width: 24rem;
}
.details h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;

  text-transform: uppercase;
  color: #2D2C2A;
  margin-bottom: .8rem;
}
.price {
  color: #2D2C2A;
}